<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if res %}
    {%for i in res%}
    <form method="post" action="{% url 'delete_value' sid=i.sid %}">
        
        {% csrf_token %}
        <input type="text" id="id_sname" name="sname" value="{{i.sname}}" required><br>
        <input type="text" id="id_marks" name="marks" value="{{i.marks}}"required><br>
        <input type="text" id="id_doj" name="doj" value="{{i.doj}}" required><br>
        <input type="submit" value="delete">
        </form>
        {% endfor %}
    {% else %}
    <form method="post">
        {% csrf_token %}
        <input type="text" id="id_sid" name="sid" required><br>
        <input type="submit" value="delete">
        </form>
    {% endif  %}
</body>
</html>