<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" id="id_sname" name="sname" required><br>
        <input type="text" id="id_marks" name="marks" required><br>
        <input type="text" id="id_doj" name="doj" placeholder="yyyy-mm-dd" required><br>
        <input type="submit" value="insert">
        </form>

        <a href="{% url 'select' %}"><button>select</button></a>
</body>
</html>